<!DOCTYPE html>
<html>
<head>
    <title>Top Melons</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>

    <h1>Welcome, {{ session["session_name"] }}</h1>
    <br>
    {% for melon in melon_dict %}
        <div class='melon-div'>
            <h3>{{ session["session_name"] }} this is a {{ melon_dict[melon]['name'] }}</h3>
            <h2>{{ melon_dict[melon]['num_loves'] }}</h2>
            <img src={{ melon_dict[melon]['img'] }}>
        </div>
    {% endfor %}

</body>
</html>